/* Styles go here */

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.ui.center.aligned.header.subheader,.ui.centered.header.subheader {
    font-weight: normal;
    border-bottom: 0;
}

i.icon {
  margin: 0;
}
